<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.name }}</title>
    <link href="assets/css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/screen.css" media="screen" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="assets/js/avatars.js"></script>
</head>

<body>
    <h1><a href="http://coltec-daw.github.io/">{{site.name}} </a></h1>
    
    {{ content }}

    <div style="display: block;">
        <p class="class-year">
            <a href="https://github.com/COLTEC-DAW/{{site.repository_name}}">Código Fonte</a>
        </p>
    </div>
</body>

</html>